<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zookeeper</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
  <body>
    <header>
      <div class="header">
        <h1 class="title"><a href="http://localhost:2000/">🦧Zookeeper🦘</a></h1>

        </p>
    </div>
    </header>
    <main>

    <section id="animal">
      <div class="feedAnimal"></div>        
        <form action="animal/feed" method="POST" class="feedForm">
          <h3>🍏Feed selected animal🥕</h3>

          <div class="animalFormDetail">
            <label for="mealAmount">Number of Servings ⚖️</label>
            <input type="number" name="mealAmount" id="mealAmount" value="1" required>
            <label for="mealType">Meal Type 🍆</label>
            <input  type="text" name="mealType" id="mealType" placeholder="Eggplants" required>
            <button id="feedBtn" type="submit"">Feed!!</button>
          </div>

          <div class="fedAnimal" style="margin: 2em;">
            <a href="http://localhost:2000/animal/animalstofeed">Find Animals to Feed</a>
          </div>

          <div id="animalList">
            <% for (var i =0; i < animals.length;  i++ ) { %>
              <label for="animal_<%= animals[i].ID%>">
                <div class="animalCard clickable" onclick="checked()">
                <input type="radio" name="animalToFeed" value="<%= animals[i].ID%>" id="animal_<%= animals[i].ID%>" required>
                  <h4><%= animals[i].Name %> <%= animals[i].Gender === 'M' ? '♂' : '♀'%></h4>
                  <div class="animalDesc">
                    <p>Species: <%= animals[i].Species%></p>
                    <p>Age: <%= animals[i].Age%></p>
                  </div>
                </div>
              </label>
              <a href="/animal/edit/<%= animals[i].ID%>" style="border-radius: 0.5em; height: 1em; align-self: center;">Edit</a>
              <% } %>
          </div>
        </form>
      </div>


    <div class="animalForm">
      <h2>New Animal</h2>
      <form action="/animal" method="POST" class="form">
        <label for="animalName">Name</label>
        <input id="animalName" type="text" name="name" class="input" placeholder="Atom" required>
        <label for="animalAge">Age</label>
        <select name="age" id="age">
          <% for (var i =0; i < 100;  i++ ) { %>
            <option value="<%= i%>"><%= i %></option>
            <% } %>
        </select>
        <label for="animalKind">Species</label>
        <input id="animalKind" type="text" name="kind" class="input" placeholder="Cat" required>
        <label for="area">Area</label>
          <select name="area" id="area">
            <% for (var i =0; i < cages.length;  i++ ) { %>
              <option value="<%= cages[i].ID%>"><%= cages[i].Location %></option>
              <% } %>
          </select>
        <label for="gender">Gender</label>
        <select name="gender" id="gender">
            <option value="M">M</option>
            <option value="F">F</option>
        </select>
        <label for="zookeeperId">Zookeeper</label>
            <select name="zookeeperId" id="zookeeperId">
              <% for (var i =0; i < staffs.length;  i++ ) { %>
                <option value="<%= staffs[i].ID%>"><%= staffs[i].Name %></option>
                <% } %>
            </select>
        <label for="vetId">Vet</label>
        <select name="vetId" id="vetId">
          <% for (var i =0; i < staffs.length;  i++ ) { %>
            <option value="<%= staffs[i].ID%>"><%= staffs[i].Name %></option>
            <% } %>
        </select>
        
        <button type="submit" class="btn">Create!</button>
      </form>
      </div>

      <h2>Remove Animal</h2>
      <form action="/removeanimal" method="POST" class="form">
          <div class="dropDowns">
  
              <label for="animalID">Select Animal</label>
              <select name="animalID" id="animalID">
                  <% for (var i =0; i < animals.length;  i++ ) { %>
                  <option value="<%= animals[i].ID%>"><%= animals[i].Name %></option>
                  <% } %>
              </select>
              <button type="submit">Remove</button>
          </div>
      </form>
    </section>
    </main>
      
  </body>

  <script>
    const checked = () => {
      const divs = Array.from(document.getElementById("animalList").getElementsByClassName("animalCard"));
      for (let div of divs) {
        let el = div.getElementsByTagName("input")[0];
        if (el.checked) div.classList.add("checked");
        else div.classList.remove("checked");
      }
    }
  </script>
</html>
