<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zookeeper</title>
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/styles.css">
</head>

  <body>
    <header>
      <h1 class="title"><a href="http://localhost:2000/">🦧Zookeeper🦘</a></h1>
  </header>
    <main>
      <div class="page">
      
        <div class="header">
            <h1 class="title">💰Charities💖</h1>
            </p>
        </div>
  
        <h2>Donations to Charities</h2>
          <div id="animalList">
              <% for (var i =0; i < donates.length;  i++ ) { %>
                <div class="animalCard">
                    <h4><%= donates[i].Charity_Name %></h4>
                    <div class="animalDesc">
                        <p>Guest Number: <%= donates[i].Guest_Entry_Number%></p>
                        <p>Amount: <%= donates[i].Amount%></p>
                    </div>
                </div>

              <% } %>
          </div>
        <h2>Add New Donation</h2>
        <form action="/donates/new" method="POST" class="form">
          <div class="dropDowns">
          <label for="guestNumber">Current Guests</label>
          <select name="guestNumber" id="guestNumber">
              <% for (var i =0; i < guest.length;  i++ ) { %>
              <option value="<%= guest[i].Entry_Number%>"><%= guest[i].Entry_Number %></option>
              <% } %>
          </select>
          <label for="Charity_Name">Charity
            <select name="Charity_Name" id="Charity_Name">
              <% for (let org of charities) { %>
                <option value="<%= org.charity_name%>"><%= org.charity_name %></option>
                <% } %>
            </select>
          </label>
          <label for="amount">Amount</label>
          <input id="amount" type="number" name="amount" class="input" placeholder="10" required>
          <button type="submit" class="btn">Create!</button>
          </div>
        <h2>Other Options</h2>
        </form>
        <button onclick='func1()'>Total Donations to Each Charity</button>
        <button onclick='func2()'>Charity with the Most Donations</button>
        <button onclick='func3()'>Average Donation Amount for Each Guest</button>
        <button onclick='func4()'>Guests Who Donated to All Charities</button>
      </div>
    </main>
  </body>
  <script>
    function func1(){
      window.location= '/donates/sort';
    }
    function func2(){
      window.location= '/donates/most';
    }
    function func3(){
      window.location= '/donates/avg';
    }
    function func4(){
          window.location= '/donates/topdonors';
    }
    const checked = () => {
      const divs = Array.from(document.getElementById("animalList").getElementsByClassName("animalCard"));
      for (let div of divs) {
        let el = div.getElementsByTagName("input")[0];
        if (el.checked) div.classList.add("checked");
        else div.classList.remove("checked");
      }
    }
  </script>

</html>