<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zookeeper</title>
  <link rel="stylesheet" href="/styles.css">
</head>

  <body>
    <div class="page">
      <header>
        <h1 class="title"><a href="http://localhost:2000/">🦧Zookeeper🦘</a></h1>
    </header>
      
      <h2>Guests who have entered the zoo today</h2>
      <ul>
        <% for (var i =0; i < guests.length;  i++ ) { %>
          <li/>  <%=guests[i].Entry_Number%> <%=", "%> <%=guests[i].Age%> <%=", "%> <%=guests[i].Payment_Method %>
          <% } %>
      </ul>
      <div class="guestForm">
        <h2>New Guest</h2>
        <form action="/guest/new" method="POST" class="form">
          <label for="guestAge">Age</label>
          <input id="guestAge" type="number" name="age" class="input" placeholder="10" required>
          <label for="paymentType">Payment Method</label>
          <input id="paymentType" type="text" name="payment_method" class="input" placeholder="Credit" required>
          <button type="submit" class="btn">Create!</button>
        </form>
        </div>
      <button onclick='func1()'>Total Guests</button>
      <button onclick='func2()'>Youngest Guest</button>
      <button onclick='func3()'>Oldest Guest</button>
      <button onclick='func4()'>Demographic</button>
    </div>
  </body>
  <script>
    function func1(){
      window.location= '/guest/count';
    }
  
    function func2(){
      window.location= '/guest/min';
    }

    function func3(){
      window.location= '/guest/max';
    }

    function fun4(){
      window.location='/guest/demographic'
    }
  </script>

</html>
